body {
    background-color: #d8c8bb;
    margin: 0;
    /*Sirven para definir el tamaño de los elementos basandose en la altura de la ventana del navegador*/
    min-height: 100vh; /*vh: Altura mínima, se usa para que mientras más elementos se tenga la pantalla se adapte, su mínimo es 100 y se va estirando conforme se agregan más*/
    width: 100vw; /*vw: Ancho de la ventana, asegura que los elementos cubran todo el ancho de la ventana*/
    overflow-x: hidden; /*En este caso se usa para que no aparezcan la barras de scroll*/
}
.flores{
    display: grid; /*Crea columnas que se adaptan al tamaño de la ventana*/
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /*grid-template es para crear las columnas, repeat para repetir lo que quiero todas las veces que se pueda, auto-fill es para que se creen las columnas que quepan en el ancho de la ventana, minmax es para el tamaño de cada columna el 200 es el tamaño mínimo el 1fr es el tamaño máximo fr es una medida de reparto (fracciones)*/
    gap: 20px; /*Es el espacio que hay entre cada flor*/
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box; /*Mantiene las medidas intactas independientemente del padding*/
    justify-items: center;
    align-items: center; 
}
/*Flor completa*/
.flor {
   position: relative;
   width: 200px;
   height: 200px;
   transform: scale(0.5); /*reduce el tamaño de las flores*/
}
/*Pétalos*/
.petalo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    animation: abrir 3s infinite ease-in-out, colorp 3s infinite ease-in-out;
}

/*Posiciones pétalos*/
.p1 { top: 0; left: 60px; }     /* arriba */
.p2 { top: 40px; left: 120px; } /* derecha */
.p3 { top: 100px; left: 90px; } /* abajo derecha */
.p4 { top: 100px; left: 30px; } /* abajo izquierda */
.p5 { top: 40px; left: 0; }     /* izquierda */

/*Centro*/
.centro {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 55px;
    left: 65px;
    animation: cambio 3s infinite ease-in-out;
}
/*Animaciones*/
@keyframes abrir {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes cambio {
        0% {
             background-color: #fbd670;
        }
        50% {
         background-color: #facd53;
    }
        75%{
            background-color: #fbca42;
        }
 
        100% {
            background-color: #fbd670;
        }
    }
    @keyframes colorp {
        0% {
             background-color: #ef6a8a;
        }
        50% {
         background-color: #f1859f;
    }
        75% {
        background-color: #f1a0b3;
    }
        100% {
            background-color: #ef6a8a;
        }
    }
   