body {
    background-color: #d8c8bb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*Sirve para que el fondo se acomode a la altura de la ventana, con este la flor se acomoda en el centro*/
}

/*Flor completa*/
.flor {
    position: relative;
    width: 200px;
    height: 200px;
}

/*Pétalos*/
.petalo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    animation: abrir 3s infinite ease-in-out, colorp 3s infinite ease-in-out;
}

/*Posiciones pétalos*/
.p1 { top: 0; left: 60px; }     /* arriba */
.p2 { top: 40px; left: 120px; } /* derecha */
.p3 { top: 100px; left: 90px; } /* abajo derecha */
.p4 { top: 100px; left: 30px; } /* abajo izquierda */
.p5 { top: 40px; left: 0; }     /* izquierda */

/*Centro*/
.centro {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 55px;
    left: 65px;
    animation: cambio 3s infinite ease-in-out;
}

/*Animaciones*/
@keyframes abrir {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes cambio {
        0% {
             background-color: #fbd670;
        }
        50% {
         background-color: #facd53;
    }
 
        100% {
            background-color: #fbca42;
        }
    }
    @keyframes colorp {
        0% {
             background-color: #ef6a8a;
        }
        50% {
         background-color: #f1859f;
    }
 
        100% {
            background-color: #f1a0b3;
        }
    }
   